{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        <!-- floating button if user is authenticated -->
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaksbr }}</p>
        {% if user.is_authenticated %}
         <div class="fixed-action-btn">
    <a href="{% url 'post_edit' pk=post.pk %}" class="btn-floating btn-large orange">
      <i class="large material-icons">mode_edit</i> </a></div>
    </div>
    {% endif %}
{% endblock %}